.header {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.chicken {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.spaghetti {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.cheeseburger {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

